{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateur{% endblock %}

{% block body %}

{% include "header/_header.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/listeOperations.css')}}">
{% endblock %}
<style>

</style>
 <h1> Liste des utilisateurs </h1>
<div class="main">
   

    {% for utilisateur in utilisateurs %}

  
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Utilisateur : {{  utilisateur.nom ~ ' ' ~ utilisateur.prenom  }}</h5>
                <p class="card-text">Roles :     
                    {% for role in utilisateur.roles %}
                    <li>{{ role }}</li>
                    {% endfor %} 
                </p>
                <a href=""><button>Consulter</button></a>
                <!-- Ajoutez d'autres données d'opération si nécessaire -->
            </div>
        </div>
    {% endfor %}

 
</div>
{% endblock %}
