{% block stylessheets %}<link rel="stylesheet" href="{{ asset('css/header.css') }}"> {% endblock %}
<div class="head">
   <img src="{{asset('image/logo.png')}}" alt="logo" width='150px'> 

   <div class="element2_head">
    <ul>
        <li><a href="">Qui sommes-nous?</a></li>
        <li><a href="{{ path('app_login') }}"><button id='button_auth'>S'authentifier</button></a></li>
 
    </ul>

    {# {% if is_granted('EXPERT') %}
    <p>L'administrateur est un expert.</p>
{% else %}
    <p>L'administrateur n'est pas un expert.</p>
{% endif %} #}

   </div>



</div>
