<form method="post" action="{{ path('app_operation_delete', {'id': operation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette opération ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operation.id) }}">
    <button class="btn">Supprimer</button>
</form>
