{# <form method="post" action="{{ path('app_operation_delete', {'id': operation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette opération ?');">

    <button class="btn">Supprimer</button>
</form> #}
