{% extends 'base.html.twig' %}

{% block title %}Edit Operation{% endblock %}

{% block body %}
    <h1>Edit Operation</h1>

    {{ include('operation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_operation_index') }}">back to list</a>

    {{ include('operation/_delete_form.html.twig') }}
{% endblock %}
