{% extends 'base.html.twig' %}

{% block title %}New Operation{% endblock %}

{% block body %}
    <h1>Create new Operation</h1>

    {{ include('operation/_form.html.twig') }}

    <a href="{{ path('app_operation_index') }}">back to list</a>
{% endblock %}
