@font-face {
    font-family: 'Poppins Light';
    src: url(../font/Poppins-Light.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(../font/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins Regular';
    src: url(../font/Poppins-Regular.ttf);
}
.head{
    display: flex;
    background-color: #F8F4D7;
    justify-content: space-between;
    align-items: center;
}

.head:first-child{
    justify-self: flex-start;
}
.element2_head{
    width: 100%;
    display: flex;
    justify-content: end;
}

.element2_head ul{
    display: flex;
    gap: 100px;
    margin-right: 10%;
    font-size: 1.5em;
    font-family: 'Poppins Light';
}

#button_auth{
    font-family: 'Poppins Light';
    background-color: #426950;
    ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: ease-in-out 0.4s;
    color: white;
}
#button_auth:hover{
    background-color: #78B262;
    
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;

}
a:hover{
   border-bottom: 2px solid black;
}