@font-face {
    font-family: 'Poppins Light';
    src: url(../font/Poppins-Light.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(../font/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins Regular';
    src: url(../font/Poppins-Regular.ttf);
}
.head{
    display: flex;
    background-color: #F8F4D7;
    justify-content: space-between;
    align-items: center;
}

.element2_head{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
}


.button_auth{
    font-family: 'Poppins Light';
    background-color: #011C27;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: ease-in-out 0.4s;
    color: white;
    margin-right: 5%;
    cursor: pointer;
}
.button_auth:hover{
   
    background-color:#426950;
  
}

.button_auth.delete:hover{
    background-color: #ff0505;
}

#btn_offline{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

#avatar{
    font-family: 'Poppins Light';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav{
    margin: 0 auto;
    top: 0px;
}


nav ul{
    list-style-type: none;
}

nav ul li{
   
    width: 25%;
    text-align: center;
    
}













