{% extends 'base.html.twig' %}

{% block title %}Interface Admin{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/interfaceAdmin.css')}}">
{% endblock %}


{% block body %}
<style>

</style>

<div class="example-wrapper">

    <h1>Expert Panel </h1>

  <section>
  
  <div class="onglet">
  <div>
<img src="{{asset('image/ajouter-un-utilisateur.png')}}" alt="Logo créer un utilisateur">
<h4>Créer un utilisateur</h4>
  </div>
  </div>


  <div class="onglet">
  <div>

  </div>
  </div>

  <div class="onglet">
  <div>
  
  </div>
  </div>

  <div class="onglet">
  <div>
  </div>
  </div>
  <div class="onglet"><div></div></div>
  <div class="onglet"><div></div></div>
  
  </section>


   
</div>
{% endblock %}
